# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Migrações cacheadas
*/migrations/__pycache__/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes / coverage
.coverage
htmlcov/
.pytest_cache/

# Build / packages
build/
dist/
*.egg-info/